* {
  margin: 0;
  padding: 0;
}

body {
  background: black;
  font-family: 'Helvetica Neue';
  font-size: 10px;
  color: #414141;
  font-size: 1.5em;
  line-height: 2em;
}

.chat-box {
  background-image: linear-gradient(to right, darkblue, blue black);
	margin: 40px auto;
	margin-right: 100px;
  max-width: 800px; 
  height: 700px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  /*border : 1px solid #000;*/
  overflow: hidden;
	position: relative;
	transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	animation: 2s up;
}

.chat-container {
  position: absolute;
  padding: 20px;
  width: 800px;
  height: 555px;
  overflow-y: scroll;
  /* overscroll-behavior-y: contain;
  scroll-snap-type: y mandatory; */
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
.chat-container > div:last-child{
  scroll-snap-align: end;
}

.chat-container.active {
  transform: translateX(0);
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  opacity: 1;
}

.chat-container.hidechat {
  transform: translateX(-10%);
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  opacity: 0;
}

p {
  margin: 0;
}

.bubble {
  float: left;
  width: auto;
  max-width: 80%;
  position: relative;
  clear: both;
  background: #95c2fd;
  padding: 0.5em 1em;
  background: linear-gradient(40deg, rgba(255, 255, 255, 0.2) 00%, rgba(255, 255, 255, 0.3) 100%);
  border-radius: 3px;
  box-shadow: 0 5px 30px rgba(255, 255, 255, 0.1);
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.7);
  word-wrap: break-word;
  font-size: 1em;
  margin-top: 30px;
  opacity: 0;
}

.bubble:after {
  border-radius: 20px / 5px;
  content: '';
  display: block;
  position: absolute;
  border: 8px solid transparent;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  bottom: 1px;
  transform: rotateZ(-90deg);
  left: -15px;
}

.bubble-alt {
  float: right;
}

.bubble-alt:after {
  left: auto;
  border-bottom-color: rgba(255, 255, 255, 0.3);
  transform: rotateZ(90deg);
  right: -16px;
}

.datestamp {
  display: block;
  text-align: center;
  margin-bottom: 0px;
  color: black;
  float: right;
	opacity: 1;
	font-size: 0.7em;
}

.dt-alt {
  float: right;
}

.chat-control {
  padding: 1.2em;
	margin-top: 535px;
}

.chat-input {
  width: 80%;
	border: 1;
	border-radius: 10%;
  background: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.3);
	padding: 0.7em;
}
.send-chat{
	width: 20%;
	background: rgba(0, 0, 0, 0.3);
	padding: 0.7em;
	display: block;
}
.send-button{
	background: gray;
	border-radius: 10%;
	border: 0;
	color: black;
}
.send-button:hover{
	background-color: black;
	color: grey;
}
.send-button:active{
  background-color: gray;
	color: black;
}

.chat-input:focus {
  border: none;
}

.chat-header {
  background: rgba(255, 255, 255, 0.1);
  padding: 0.5em;
  padding-bottom: .7em;
	text-align: center;
	overflow-x: scroll;
	scrollbar-color: black;
}

.chat-header span {
  font-size: 12px;
  position: absolute;
  margin: 47px -50px;
	font-style: italic;
	color: whitesmoke
}

.user-profile {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 100%;
  background: #DFDFEF;
  margin: 0 10px;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  cursor: pointer
}

/* .user-profile:nth-child(1) {
  background-image: url(http://vignette3.wikia.nocookie.net/fairytail/images/0/02/Mugshot_of_Erza.png/revision/latest?cb=20130509171537);
}

.user-profile:nth-child(3) {
  background-image: url(http://orig15.deviantart.net/8172/f/2016/079/7/2/natsu_xabused_reader_fire_within_the_heart_p1_by_minnibellsnow-d9vv2cy.jpg);
}

.user-profile:nth-child(5) {
  background-image: url(http://vignette3.wikia.nocookie.net/fairytail/images/e/e7/Lucy_prof_2.jpg/revision/latest?cb=20111024225521);
}

.user-profile:nth-child(7) {
  background-image: url(https://i.ytimg.com/vi/sROSCGZq1rA/hqdefault.jpg);
} */

.user-profile.active {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.day{
  float: left;
  width: 100%;
  height: 3em;
  background: inherit;
  padding: 0.5em 1em;
  border-radius: 3px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.9em;
  margin-top: 30px;
  opacity: 0;
  text-align: center;
}