body{
	background-color: black;
	background-repeat: no-repeat;
	color: gray;
	font-family: cursive;
}
hr{
	color: black;
}
.topnav{
	/* background-image: radial-gradient(blue, black, black); */
	background-color: black;
}
.header{
	color: blue;
	font-family: cursive;
	font-weight: 900;
}
.textBox{
	background-color: gray; 
	color: black;
	border-radius: 12px;
	padding: 10px;
	font-family: cursive;
	font-weight: bolder;
	font-size: larger;
	width: 60%;
}
.textBoxError{
	border-color: red;
	border-style: solid;
	border: 10;
}
.button{
	background-color: rgb(35, 60, 206);
	font-weight: 900;
	font-family: cursive;
	border-radius: 12px;
	box-shadow: purple;
	color: black;
}
.errorText{
	font-family: cursive;
	color: red;
	padding-left: 18px;
}
.label{
	font-weight: 900;
	font-size: large;
	color: grey;
}
.profile{
	position: absolute;
}
.profile-pic{
	width: 80px;
  height: 80px;
  display: inline-block;
  border-radius: 100%;
  background: #DFDFEF;
  margin: 0 10px;
  background-size: cover;
  cursor: pointer
}
.profile-name{
	font-size: 30px;
	font-weight: bolder;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.profile-button{
	padding: 10px;
	padding-top: 40px;
	padding-left: 70px;
	cursor: pointer;
}
.profile-button:hover{
	color: whitesmoke;
}
.search-box{
	background-color: rgb(6, 6, 59);
	margin: 40px auto;
	margin-right: 100px;
  max-width: 800px; 
  height: 600px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  /*border : 1px solid #000;*/
  overflow: hidden;
	position: relative;
	transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	animation: 2s up;
	border-radius: 10%;
	padding: 30px;
}
.search{
	width: 60%; 
	height: 30px;
	margin-left: 15%;
	border-right: 0;
	border: 0;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bolder;
	padding: 2%;
}
.search:focus{
	border: 0;
}
.search-button{
	background-color: white;
	height: 30px;
	float: right;
	margin-right: 15%;
	width: 10%;
	border-left: 0;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	padding-left: 2%;
	font-weight: bold;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	cursor: pointer;
}
.search-button:hover{
	background-color: rgb(6, 6, 59);
	color: whitesmoke;
}
.friends-list{
	padding-top: 50px;
	text-align: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bolder;
}
.item{
	background-color: slategrey;
	color: black;
}
.friends-group{
	max-height: 95%;
	overflow: auto;
}
.friends-group::-webkit-scrollbar{
	width: 1em;
}
.friends-group::-webkit-scrollbar-track{
	box-shadow: inset 0 0 6px black;
}
.friends-group::-webkit-scrollbar-thumb{
	background-color: darkgray;
	outline: 1px solid slategrey;
}
.click{
	background-color: darkslategray;
}
